*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	margin: 3%;
}

p{
	font-family: 'FreightSansProBook-Regular';
}

body{
	width: 100%;
}

.menu{
	display: flex;
	justify-content: space-around;
}
@media (max-width: 768px){
	.menu{
		display: none;
	}
}

.menu a{
	list-style: none;
	font-family: 'FreightSansProBook-Regular';
	font-size: 0.88em;
	color: #000;
	line-height: 0.75em;
	text-transform: uppercase;
}

.borda__header{
	border-style: solid;
	border-width: 1px;
	height: 8px;
	margin: 3%;
}
@media (max-width: 768px){
	.borda__header {
		width: 300px;
	}
}

.container__logoturmadasopa{
	width: 20%;
}

.logo__turmadasopa{
	width: 100%;
	margin: -3% 36% 12% 21%;
	padding: 24%;
}
@media (max-width: 768px){
	.logo__turmadasopa{
		width: 40vw;
		margin-left: 100px;
	}
}

.container__header{
	display: flex;
	justify-content: space-between;
}

.turma-da-sopa{
	width: 37%;
	color: #000;
	margin: 0 -10% 12% 0;
	font-size: 4.25em;
	text-align: center;
	font-family: 'Haikus-Script-v.08-upgrade';
 }

@media (max-width: 768px){
	.turma-da-sopa{
		width: 250px;
		margin: 3% 10%;
		font-size: 3em;
	}
}

.img-header{
	display: flex;
	justify-content: space-between;
}

.home1{
	width: 13%;
	margin-left: 2%;
}

@media (max-width: 768px){
	.home1{
		display: none;
	}
}

.home2{
	width: 25%;	
	margin-top: -10%;
}

@media (max-width: 768px){
	.home2 {
		display: none;
	}
}

.container__home3--mobile{
	display: none;
}

@media (max-width: 768px){
	.container__home3--mobile {
		display: flex;
    	margin: 0 45% 8% 4%;
	}
}

.contato{
	padding: 3%;
	font-size: 0.88em;
	color: #000;
	text-align: center;
	line-height: 0.75em;
}

@media (max-width: 640px){
	.contato {
		display: none;
	}
}

.borda__header2{
	border-width: 4px; 
	border-style: dashed;
	border-color: yellow;
}

@media (max-width: 768px){
	.borda__header2 {
		width: 319px;
		border-width: 4px;
	}
}

.container__titulosobaturma{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px){
	.container__titulosobaturma{
		margin: 7% 0 0 0;
	}
}

.titulo__sobaturma{
	color: #000;
	margin-top: 5%;
	font-size:3.69em;
	text-align: center;
	background: yellow;
	font-family: 'Haikus-Script-v.08-upgrade';
}

@media (max-width: 768px){
	.titulo__sobaturma{
		padding: 0%;
		font-size: 1.69em;
	}
}

.conteudo__sobreaturma{
	width: 48%;
	display: flex;
	flex-direction: column;
	margin: 2% 28% 0;
	color: #000;
}

@media (max-width: 768px){
	.conteudo__sobreaturma{
		width: 379px;
		padding: 46px;
		font-size: 5vw;
		line-height: 1.3em;
		margin: -5% 0 0 -8%;
	}
}

@media (max-width: 768px){
	.h__sobreaturma{
		display: none;
	}
}

h5{
	width: 41%;
	color: #000;
	font-size: 1.44em;
	font-style: normal;
	text-align: left;
	line-height: 1.23em;
	font-family: 'FreightSansProMedium-Regular';
}

.container__graficos{
	margin: 4%;
	padding: 51px;
	border-style: dashed;
	border-width: 4px; 
	border-color: yellow;
}

@media (max-width: 768px){
	.container__graficos{
		width: 308px;
		display: flex;
		flex-direction: column;
		margin: 9px;
		height: 0%;
		border-width: 7px;
	}
}

.container__tituloresultados{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){
	.container__tituloresultados{
		width: 300px;
	}
}

h4 {
	text-align: center;
}

.nossos_resultados{
	margin: 40px;
	font-size: 3.69em;
	text-align: center;
    background: yellow;
	font-family: 'Haikus-Script-v.08-upgrade';
}

@media (max-width: 768px){
	.nossos_resultados{
		font-size: 1.69em;
		margin-top: -5%;
		margin-left: -19%;
	}
}

.apoio1{
	width: 35%;
	margin-left: 6%;
}

@media (max-width: 768px){
	.apoio1{
		width: 85vw;
		margin-left: -24%;
	}
}

.apoio2{
	width: 35%;
	margin-left: 16%;
}

@media (max-width: 768px){
	.apoio2{
		width: 100vw;
		padding: 32px;
		margin-left: -35%;
	}
}

@media (max-width: 768px){
	.borda-3{
		margin-top: -50px;
		width: 370px;
	}
}

.section__midia{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	min-height: 95vh;
}

.container__titulonamidia{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){
	.container__titulonamidia{
		padding: 26px;
		margin-left: 39px;
		font-size: .69em;
	}
}

.na_midia{
	font-family: 'Haikus-Script-v.08-upgrade';
	font-size: 3.69em;
	color: #000;
	text-align: center;
	background: yellow;
}
@media(max-width: 768px){
	.na_midia{
		margin-left: -10%;
		font-size: 2.69em;
	}
}
.caixa__namidia{
	width: 100%;
	display: flex;
	flex-direction: row;
	min-height: 75vh;
}
@media(max-width: 768px){
	.caixa__namidia{
		flex-direction: column;
	}
}

.container__video{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 768px){
	.container__video{
		margin: 3%; 
	}
}


@media (max-width: 768px){
	iframe {
		width: 100%;
		height: 29vh;
	}
}

.paragraf-video{
	width: 65%;
	color: #036fef;
	font-size: 1em;
	margin: 1% 0 0 4%;
	text-decoration: underline;
}

@media (max-width: 768px){
	.paragraf-video{
		width: 318px;
		font-size: 1em;
		margin: 4% 0 0 6%;
	}
}

.container__midias{
	display: flex;
	width: 30%;
	height: 70vh;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 768px){
	.container__midias{
		margin: 2% 0 0 20%;
	}
}

.midias {
	width: 42%;
}

@media (max-width: 768px){
	.midias {
		width: 200px;
	}
}

.img__midias{
	width: 100%;
}

@media (max-width: 768px){
	.img-midia1 {
		width: 71vw;
	}
}

@media (max-width: 768px){
	.paragrafo__midia--1{
		width: 225px;
		font-size: 1em;
	}
}

@media (max-width: 768px){
	.midia--2 {
		margin: 30% 0 0 0;
	}
}

@media (max-width: 768px){
	.img-midia2 {
		width: 71vw;
	}
}

@media (max-width: 768px){
	.paragrafo__midia--2{
		width: 214px;
		font-size: 1em;
	}
}

.borda3__acontecendo{
	border-style: dashed;
	border-width: 4px; 
	border-color: yellow;
}
@media (max-width: 768px){
	.borda3__acontecendo{
		margin: 46% 0 12% 0;
	}
}

.container__hacontecendo{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acontecendo{
	font-family: 'Haikus-Script-v.08-upgrade';
	font-size: 3.60em;
	color: #000;
	font-style: normal;
	text-align: center;
	background: yellow;
	margin-top: 5%;
}

@media (max-width: 768px){
	.acontecendo {
		font-size: 1.69em;
	}
}

.container__acontecendo{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8%;
}

@media (max-width: 768px){
	.container__acontecendo{
		display: flex;
		flex-direction: column;
	}
}

.icon{
	width: 36%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container__cursos{
	margin-top: -4%;
}
@media (max-width: 768px){
	.container__cursos{
		margin: 5%;
	}
}

.img__livro-cursos{
	width: 18%;
	margin-left: -175px;
}

@media (max-width: 768px){
	.img__livro-cursos{
		width: 85%;
		margin: 3%;
	}
}

.subtitulo__cursos{
	width: 55%;
	margin-top: 20px;
	margin-left: -22px;
	font-size: 1.5em;
	text-transform: uppercase;
	
}

@media (max-width: 768px){
	.subtitulo__cursos {
		width: 52vw;
		margin-left: 2%;
	}
}

.container__campanhaleite{
	margin-top: -3%;
}

.img__campanhaleite{
	width: 13%;
	margin-left: -195px;
}

@media (max-width: 768px){
	.img__campanhaleite{
		width: 58%;
		margin: 28% -2% 6% 0;
	}
}

.subtitulo__campanhaleite{
	width: 192px;
	margin-top: 20px;
	margin-left: -62px;
	font-size: 1.5em;
	text-transform: uppercase;
}

@media (max-width: 768px){
	.subtitulo__campanhaleite{
		margin: 12% 0 0 21%;
	}
}

.container__cobertor{
	margin-top: -9%;
}

@media (max-width: 768px){
	.container__cobertor{
		margin: 10%;
	}
}

.img__campanhacobertor{
	width: 21%;
	margin-left: -40%;
}

@media (max-width: 768px){
	.img__campanhacobertor{
		width: 90%;
		margin-left: 7%;
	}
}

.subtitulo__campanhacobertor{
	width: 190px;
	margin-top: 20px;
	margin-left: -70px;
	font-size: 1.5em;
	text-transform: uppercase;
}
@media (max-width: 768px){
	.subtitulo__campanhacobertor{
		margin: 18% 0 0 15%;
	}
}

.paragrafo__acontecendo{
	width: 62%;
	text-align: left;
	margin-top: 15px;
	margin-left: 10px;

}

@media (max-width: 768px){
	.paragrafo__acontecendo{
		width: 259px;
	}
}

.containermae__comoajudar{
	margin: 4%;
	padding: 51px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
    border-style: dashed;
    border-width: 4px;
    border-color: yellow;
}

.caixa__comoajudar{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caixa__comoajudar h6{
	font-family: 'Haikus-script-v.08-upgrade';
	font-size: 3.69em;
	color: #000;
	font-style: normal;
	text-align: center;
	background: yellow;
}

@media (max-width: 768px){
	.caixa__comoajudar h6{
		font-size: 1.69em;
	}
}

.container__coraçoes{
	width: 90%;
	margin: 5%;
	min-height: 500px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	position: relative;
}

@media(max-width: 1200px){
	.container__coraçoes{
		min-height: 1100px;
		justify-content: center;
	}
}

.coraçoes{
	width: 40%;
	min-width: 350px;
	max-width: 420px;
	min-height: 370px;
	padding: 10%; 
	position: absolute;
	background: url('./TSN - Assets/heart.svg') no-repeat;
	background-size: 100%;
}

.coraçoes__title{
	font-size: 1.2em;
	text-transform: uppercase;
	color: #fff;
}
.coraçoes__paragrafo{
	font-size: 1em;
	color: #fff;
}

.coraçoes--first{
	width: 30%;
	top:0;
	left: 10%;
}

.h-voluntario{
	position: relative;
	top: -16px;
	left: 10px;
	color: #fff;
}

.paragraf-heartvoluntario{
	position: absolute;
	top: 107px;
	width: 47%;
	font-size: 1em;
	color: #fff;
}

.coraçoes--second{
	width: 30%;
	top: 200px;
	left: 10%;
}

.h-doaçaomateriais{
	position: absolute;
	/*font-size: 1.1em;*/
	top: 74px;
	left: 72px;
	color: #fff;
}

.h-materiaisdescartaveis{
	position: absolute;
	top: 74px;
	left: 70px;
}

.paragraf-heartdoaçaomateriais{
	color: #fff;
	width: 229px;
	position: absolute;
	top: 125px;
	left: 65px;
}

.paragrafo__banco{
	position: absolute;
	top: 27%;
	left: 36%;
}

.paragrafo__depositoconta{
	position: absolute;
	top: 34%;
	left: 20%;
}

.paragrafo__contribua{
	width: 214px;
	position: absolute;
	top: 40%;
	left: 20%;
}

.h-doaçaoalimentos{
	position: relative;
	left: 8%;
}

.paragrafo__doaçaoalimentos{
	width: 60%;
	margin-left: -4%;
}

.coraçoes--thrid{
	width: 30%;
	top:0;
	right: 10%;
}

.coraçoes--fourth{
	width: 30%;
	top:200px;
	right: 10%;
}

@media(max-width: 1200px){
	.coraçoes{
		padding: 85px;
		left: auto;
		right: auto;
	}
	.coraçoes--first{
		top:0;
		
	}
	.coraçoes--second{
		top: 200px;
		
	}
	.coraçoes--thrid{
		top:600px;
		
	}
	.coraçoes--fourth{
		top:800px;
		
	}
}

.paragrafo__comoajudar{
	width: 20%;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

footer{
	display: flex;
}

.container__contato{
	width: 27%;
	margin-left: 10%;
}

.container__parceiros{
	display: flex;
    margin-left: 154px;
}

.parceiros{
	display: flex;
	margin-left: -134px;
}

.rodape__logo-turmadasopa{ 
	width: 30%;
	margin-top: 8%;
}

.logo__hortifruti{
	width: 20%;
    height: 60%;
	margin-top: 6%;
	margin-left: -11%;
}

.logo__matita{
	width: 20%;
    height: 60%;
	margin-top: 6%;
	margin-left: 5%;
}

.paragrafo__refriromero{
	width: 1%;
	margin-top: 40px;
	margin-left: -310px;
	font-size: 1.50em;
    font-weight: bolder;  
}