*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	margin: 3%;
}

@media (max-width: 640px) {
	nav {
		display: none;
	}
}

p {
	font-family: 'FreightSansProBook-Regular';
}

.menu {
	display: flex;
	justify-content: space-around;
}

.menu a {
	list-style: none;
	font-family: 'FreightSansProBook-Regular';
	font-size: 0.88em;
	color: #000;
	line-height: 0.75em;
	text-transform: uppercase;
}

.borda-header {
	border-style: solid;
	border-width: 1px;
	height: 8px;
	margin: 3%;
}

@media (max-width: 640px) {
	.borda-header {
		/*width: 357px;*/
		width: 337px;
	}
}

.container-logo{
	width: 20%;
}

.logo-turmadasopa {
	width: 100%;
	margin: 11%;
	padding: 24%;
}

@media (max-width: 640px) {
	.logo-turmadasopa {
		width: 100%;
		margin-left: 151px;
	}
}

.container-header {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 640px) {
	.header-titulo {
		width: 224px;
		margin-left: 13%;
	}
}

.turma-da-sopa {
	width: 37%;
	margin-top: -10%;
	margin-left: 10%;
	font-family: 'Haikus-Script-v.08-upgrade';
	font-size: 4.25em;
	color: #000;
	text-align: center;
 }

@media (max-width: 640px) {
	.turma-da-sopa {
		width: 365px;
		font-size: 3em;
		margin-top: 13%;
		margin-left: 15px;
	}
}

.img-header {
	display: flex;
	justify-content: space-between;
}

.home1 {
	width: 10%;
}

@media (max-width: 640px) {
	.home1 {
		display: none;
	}
}

.home2 {
	width: 25%;	
	margin-top: -15%;
}

@media (max-width: 640px) {
	.home2 {
		display: none;
	}
}

.div-home3 {
	display: none;
}

@media (max-width: 640px) {
	.div-home3 {
		display: flex;
		width: 48%;
    	margin-top: 5%;
    	margin: 12px;
	}
}

.contato {
	padding: 3%;
	font-size: 0.88em;
	color: #000;
	text-align: center;
	line-height: 0.75em;
}

@media (max-width: 640px) {
	.contato {
		display: none;
	}
}

.borda-header2 {
	border-style: dashed;
	border-width: 4px; 
	border-color: yellow;
}

@media (max-width: 640px) {
	.borda-header2 {
		width: 356px;
		border-width: 3px;
	}
}

.container-titulosobaturma {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-sobaturma {
	font-family: 'Haikus-Script-v.08-upgrade';
	font-size:3.69em;
	color: #000;
	text-align: center;
	background: yellow;
	margin-top: 5%;
}

@media (max-width: 640px) {
	.titulo-sobaturma {
		padding: 0%;
		font-size: 1.69em;
		margin-left: 49px;
	}
}

.conteudo-sobreaturma {
	width: 48%;
	margin-top: 2%;
	margin-left: 25%;

}

@media (max-width: 640px) {
	.conteudo-sobreaturma {
		display: flex;
		width: 415px;
		padding: 46px;
		color: #000;
		font-size: 1em;
		line-height: 1.3em;
		flex-direction: column;
		margin-left: -29px;
	}
}

h5 {
	font-family: 'FreightSansProMedium-Regular';
	font-size: 1.44em;
	color: #000;
	font-style: normal;
	text-align: left;
	line-height: 1.23em;
	width: 41%;
}

.container-graficos {
	margin: 4%;
	padding: 51px;
	border-style: dashed;
	border-width: 4px; 
	border-color: yellow;
}

@media (max-width: 640px) {
	.container-graficos {
		margin: 9px;
		width: 380px;
		height: 0%;
		display: flex;
		flex-direction: column;
		border-width: 7px;
	}
}

.container-hresultados {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
	text-align: center;
}

.nossos-resultados {
	font-family: 'Haikus-Script-v.08-upgrade';
	font-size: 3.69em;
	text-align: center;
    background: yellow;
	margin: 40px;
}

@media (max-width: 640px) {
	.nossos-resultados {
		font-size: 1.69em;
		margin-top: -5%;
	}
}

.apoio1 {
	width: 35%;
	margin-left: 6%;
}

@media (max-width: 640px) {
	.apoio1 {
		width: 87vw;
		margin-left: -6%;
	}
}

.apoio2 {
	width: 35%;
	margin-left: 16%;
}

@media (max-width: 640px) {
	.apoio2 {
		width: 100vw;
		margin-left: -12%;
		padding: 32px;
	}
}

@media (max-width: 640px) {
	.borda-3 {
		margin-top: -50px;
		width: 370px;
	}
}

.container-hnamidia {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 640px) {
	.container-hnamidia {
		padding: 26px;
		margin-left: 39px;
		font-size: .69em;
	}
}

.na-midia {
	font-family: 'Haikus-Script-v.08-upgrade';
	font-size: 3.69em;
	color: #000000;
	font-style: normal;
	text-align: center;
	background: yellow;
}

.container-video {
	margin-top: 5%;
	margin-left: 14%;
}

@media (max-width: 640px) {
	.container-video {
		margin-left: 67px;
		margin-right: -113px;
		height: 213px;
	}
}

@media (max-width: 640px) {
	iframe {
		width: 100%;
		height: 100%;
		margin-left: -14%;
	}
}

.paragraf-video {
	font-size: 0.88em;
	color: #036fef;
	text-decoration: underline;
	width: 55%;
}

@media (max-width: 640px) {
	.paragraf-video {
		width: 378px;
		font-size: 1.1em;
		margin-left: -50px;
		margin-top: 20px;
	}
}

.container-midias {
	padding: 52px;
	margin-top: -3%;
}

@media (max-width: 640px) {
	.container-midias {
		padding: 100px;
	}
}

.midia1 {
	margin-top: -31%;
	margin-left: 70%;
	width: 20%;
}

@media (max-width: 640px) {
	.midia1 {
		width: 200px;
		margin-top: 50px;
		margin-left: -12px;
	}
}

.img-midia1 {
	width: 80%;
}

@media (max-width: 640px) {
	.img-midia1 {
		width: 71vw;
	}
}

@media (max-width: 640px) {
	.paragraf-midia1 {
		width: 233px;
		font-size: 1.1em;
	}
}

.midia2 {
	margin-top: 3%;
	margin-left: 70%;
	width: 17%;
}

@media (max-width: 640px) {
	.midia2 {
		width: 173px;
		padding: 20px;
		margin-top: 18px;
		margin-left: -29px;
	}
}

.img-midia2 {
	width: 93%;
}

@media (max-width: 640px) {
	.img-midia2 {
		width: 71vw;
	}
}

@media (max-width: 640px) {
	.paragraf-midia2 {
		width: 219px;
		font-size: 1.1em;
	}
}

.borda-3 {
	border-style: dashed;
	border-width: 4px; 
	border-color: yellow;
}

.container-hacontecendo {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acontecendo {
	font-family: 'Haikus-Script-v.08-upgrade';
	font-size: 3.60em;
	color: #000;
	font-style: normal;
	text-align: center;
	background: yellow;
	margin-top: 5%;
}

@media (max-width: 640px) {
	.acontecendo {
		font-size: 1.69em;
	}
}

.container-acontecendo{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8%;
}

@media (max-width: 640px) {
	.container-acontecendo {
		display: flex;
		flex-direction: column;
	}
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 36%;
}

.container-cursos {
	margin-top: -4%;
}

.imglivro-cursos {
	width: 15%;
	margin-left: -40%;
}

@media (max-width: 640px) {
	.imglivro-cursos {
		width: 100%;
	}
}

.subtitulo-cursos {
	width: 55%;
	margin-left: -12px;
	font-size: 1.5em;
	text-transform: uppercase;
	
}

@media (max-width: 640px) {
	.subtitulo-cursos {
		display: flex;
	}
}

.container-campanhaleite {
	margin-top: -3%;
}

.imgcampanha-leite {
	width: 10%;
	margin-left: -45%;
}

@media (max-width: 640px) {
	.imgcampanha-leite {
		width: 70%;
		padding: 44px;
	}
}

.subtitulo-campanhaleite {
	width: 192px;
	margin-left: -14%;
	font-size: 1.5em;
	text-transform: uppercase;
}

@media (max-width: 640px) {
	.subtitulo-campanhaleite {
		width: 143px;
	}
}

.container-cobertor {
	margin-top: -9%;
}

@media (max-width: 640px) {
	.container-cobertor {
		
	}
}

.imgcampanha-cobertor {
	width: 15%;
	margin-left: -42%;
}

@media (max-width: 640px) {
	.imgcampanha-cobertor {
		width: 100%;
	}
}

.subtitulo-campanhacobertor {
	width: 190px;
	margin-left: -70px;
	font-size: 1.5em;
	text-transform: uppercase;
}

.paragraf-acontecendo {
	width: 62%;
	text-align: left;
	margin-top: 15px;
	margin-left: 24px;

}

@media (max-width: 640px) {
	.paragraf-acontecendo {
		width: 259px;
	}
}

.icon2 {
	width: 15%;
}

@media (max-width: 640px) {
	.icon2 {
		width: 100%;
	}
}

.icon1 {
	width: 10%;
}

.icon3 {
	width: 15%;
}

.section-comoajudar {
	margin: 4%;
	padding: 51px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
    border-style: dashed;
    border-width: 4px;
    border-color: yellow;
}

.container-comoajudar {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-comoajudar h6{
	font-family: 'Haikus-script-v.08-upgrade';
	font-size: 3.69em;
	color: #000;
	font-style: normal;
	text-align: center;
	background: yellow;
}

@media (max-width: 640px) {
	.container-comoajudar h6 {
		font-size: 1.69em;
	}
}

.container-coraçoes {
	width: 90%;
	margin: 5%;
	min-height: 500px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	position: relative;
}

@media(max-width: 1200px){
	.container-coraçoes{
		min-height: 1100px;
		justify-content: center;
	}
}

.coraçoes {
	width: 40%;
	min-width: 350px;
	max-width: 420px;
	min-height: 370px;
	padding: 10%; 
	position: absolute;
	background: url('./TSN - Assets/heart.svg') no-repeat;
	background-size: 100%;
}

.coraçoes__title{
	font-size: 1.2em;
	color: #fff;
}
.coraçoes__paragrafo {
	font-size: 1em;
	color: #fff;
}

.coraçoes--first{
	width: 30%;
	top:0;
	left: 10%;
}

.h-voluntario {
	position: relative;
	top: -16px;
	left: 40px;
	font-size: 1em;
	color: #fff;
}

.paragraf-heartvoluntario {
	position: absolute;
	top: 107px;
	width: 47%;
	font-size: 1em;
	color: #fff;
}

.coraçoes--second {
	width: 30%;
	top: 200px;
	left: 10%;
}

.h-doaçaomateriais {
	position: absolute;
	top: 74px;
	left: 102px;
	font-size: 1.2em;
	color: #fff;
}

.h-materiaisdescartaveis {
	position: absolute;
	top: 74px;
	left: 97px;
}

.paragraf-heartdoaçaomateriais {
	color: #fff;
	width: 229px;
	position: absolute;
	top: 125px;
	left: 65px;
}

.h-deposito

.pbanco {
	position: absolute;
	top: 27%;
	left: 36%;
}

.p-depositoconta {
	position: absolute;
	top: 34%;
	left: 20%;
}

.p-contribua {
	width: 214px;
	position: absolute;
	top: 40%;
	left: 20%;
}

.h-doaçaoalimentos {
	position: relative;
	left: 8%;
}

.p-doaçaoalimentos {
	width: 60%;
	margin-left: -4%;
}

.coraçoes--thrid {
	width: 30%;
	top:0;
	right: 10%;
}

.coraçoes--fourth{
	width: 30%;
	top:200px;
	right: 10%;
}

@media(max-width: 1200px){
	.coraçoes{
		padding: 85px;
		left: auto;
		right: auto;
	}
	.coraçoes--first{
		top:0;
		
	}
	.coraçoes--second{
		top: 200px;
		
	}
	.coraçoes--thrid{
		top:600px;
		
	}
	.coraçoes--fourth{
		top:800px;
		
	}
}

.paragraf-comoajudar {
	width: 20%;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

footer {
	display: flex;
}

.container-contato {
	width: 27%;
	margin-left: 10%;
}

.container-parceiros {
	display: flex;
    margin-left: 154px;
}

.parceiros {
	display: flex;
	margin-left: -134px;
}

.rodape-logo-turmadasopa { 
	width: 30%;
	margin-top: 8%;
}

.logo-hortifruti {
	width: 20%;
    height: 60%;
	margin-top: 6%;
	margin-left: -11%;
}

.logo-matita {
	width: 20%;
    height: 60%;
	margin-top: 6%;
	margin-left: 5%;
}

.p-refriromero {
	width: 1%;
	margin-top: 40px;
	margin-left: -325px;
	font-size: 1.50em;
    font-weight: bolder;  
}