.ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 11%;
	font-family: FreightSansProBook-Regular;
	font-size: 0.88em;
	color: #000000;
	line-height: 0.75em;
	text-transform: uppercase;
}

.borda {
	border-style: solid;
	height: 8px;
}

.div-logo-turmadasopa {
	width: 20%;
}

.logo-turmadasopa {
	width: 50%;
	padding: 24%;

}

.header-titulo {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.turma-da-sopa {
	display: flex;
	justify-content: center;
	font-family: Haiku's-Script-v.08-upgrade];
	font-size:6.25em;
	color: #000000;
	font-style: normal;
	text-align: left;
 }

.de-niteroi {
	display: flex;
	justify-content: center;
	font-family: Haiku's-Script-v.08-upgrade];
	font-size: 3.69em;
	color: #000000;
	
}

.home1 {
	width: 16%;

}

.div-home2 {
	/*display: flex;
	justify-content: flex-end;*/
position: absolute;
right: 17%;
top: 86%;

}

.home2 {
	/*width: 100%;*/
	width: 260%;
	
}

.contato {
	padding: 3%;
	font-family: FreightSansProBook-Regular;
	font-size: 0.88em;
	color: #000000;
	font-style: normal;
	text-align: center;
	line-height: 0.75em;
}

.borda-2 {
	border-style: dashed;
	border-width: 4px; 
	border-color: yellow;
}

.titulo-sobre-a-turma {
	font-family: Haiku's-Script-v.08-upgrade];
	font-size:3.69em;
	color: #000000;
	text-align: center;
	line-height: 3.16em;
	padding: 7%;
}

h3 {
	font-family: FreightSansProMedium-Regular;
	font-size: 1.44em;
	color: #000000;
	font-style: normal;
	text-align: left;
	line-height: 1.23em;
	
}