nav {
	margin: 3%;
}

@media (max-width: 640px) {
	nav {
		display: none;
	}
}

.ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	font-family: FreightSansProBook-Regular;
	font-size: 0.88em;
	color: #000000;
	line-height: 0.75em;
	text-transform: uppercase;
}

.borda-header {
	border-style: solid;
	border-width: 1px;
	height: 8px;
	margin: 3%;
}

@media (max-width: 640px) {
	.borda-header {
		width: 296px;
	}
}

.container-logo{
	width: 20%;
	margin: -20px;
}

.logo-turmadasopa {
	width: 50%;
	margin: 11%;
	padding: 24%;
}

@media (max-width: 640px) {
	.logo-turmadasopa {
		width: 100%;
		margin-left: 132px;
	}
}

.header-titulo {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.turma-da-sopa {
	display: flex;
	justify-content: center;
	font-family: Haiku's-Script-v.08-upgrade];
	font-size:6.25em;
	color: #000000;
	font-style: normal;
	text-align: left;
 }

.de-niteroi {
	display: flex;
	justify-content: center;
	font-family: Haiku's-Script-v.08-upgrade];
	font-size: 3.69em;
	color: #000000;	
}

.home1 {
	width: 16%;
}

@media (max-width: 640px) {
	.home1 {
		width: 48%;
		margin-top: 5%;
	}
}

.div-home2 {
	position: absolute;
	top: 45%;
	right: 7%;
	
}

@media (max-width: 640px) {
	.div-home2 {
		display: none;
	}
}

.home2 {
	width: 300px;	
}

.div-home3 {
	display: none;
}

@media (max-width: 640px) {
	.div-home3 {
		width: 48%;
    	margin-top: 5%;
    	margin: 12px;
	}
}

.contato {
	padding: 3%;
	font-family: FreightSansProBook-Regular;
	font-size: 0.88em;
	color: #000000;
	font-style: normal;
	text-align: center;
	line-height: 0.75em;
}

@media (max-width: 640px) {
	.contato {
		display: none;
	}
}

.borda-header2 {
	border-style: dashed;
	border-width: 4px; 
	border-color: yellow;
}

.titulo-sobaturma {
	font-family: Haiku's-Script-v.08-upgrade];
	font-size:3.69em;
	color: #000000;
	text-align: center;
	line-height: 3.16em;
	padding: 7%;
}

@media (max-width: 640px) {
	.titulo-sobaturma {
		padding: 0%;
	}
}

.conteudo-sobreaturma {
	font-family: FreightSansProBook-Regular;
	width: 48%;
	margin-top: -9%;
	margin-left: 25%;
}

@media (max-width: 640px) {
	.conteudo-sobreaturma {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 297px;
		padding: 74px;
		margin-left: -18%;
		font-size: 0.88em;
		line-height: 1.3em;
	}
}

h3 {
	font-family: FreightSansProMedium-Regular;
	font-size: 1.44em;
	color: #000000;
	font-style: normal;
	text-align: left;
	line-height: 1.23em;
}

@media (max-width: 640px) {
	h3 {
		display: none;
	}
}

.section-grafico {
	padding: 10%;
}

.container-graficos {
	border-style: dashed;
	border-width: 4px; 
	border-color: yellow;
	margin: 4%;
	padding: 51px;
}

@media (max-width: 640px) {
	.container-graficos {
		display: flex;
		flex-direction: column;
		margin: 0%;
		width: 57%;
		height: 385px;
		border-width: 6px;
	}
}

h4 {
	text-align: center;
}

.nossos-resultados {
	padding: 7%;
}

@media (max-width: 640px) {
	.nossos-resultados {
		margin-top: -10%;
	}
}

.apoio1 {
	width: 35%;
	margin-left: 6%;
}

@media (max-width: 640px) {
	.apoio1 {
		width: 100%;
		margin-left: -3%;
	}
}

.apoio2 {
	width: 35%;
	margin-left: 16%;
}

@media (max-width: 640px) {
	.apoio2 {
		width: 100%;
		margin-left: -19%;
		padding: 32px;
	}
}

.na-midia {
	font-family: Haiku's-Script-v.08-upgrade];
	font-size: 3.69em;
	color: #000000;
	font-style: normal;
	text-align: center;
	line-height: 3.16em;
}

.container-video {
	margin-top: 5%;
	margin-left: 14%;
}

@media (max-width: 640px) {
	iframe {
		width: 100%;
		height: 100%;
		margin-left: -14%;
	}
}

.paragraf-video {
	font-family: FreightSansProBook-Regular;
	font-size: 0.88em;
	color: #036fef;
	text-decoration: underline;
	width: 55%;
}

@media (max-width: 640px) {
	.paragraf-video {
		width: 74vw;
		margin-left: -9%;
	}
}

.container-midias {
	padding: 52px;
	margin-top: -6%;
}

@media (max-width: 640px) {
	.container-midias {
		padding: 100px;
	}
}

.midia1 {
	margin-top: -31%;
	margin-left: 70%;
	width: 20%;
}

@media (max-width: 640px) {
	.midia1 {
		width: 200px;
		margin-left: -22px;
	}
}

.img-midia1 {
	width: 80%;
}

.midia2 {
	margin-top: 3%;
	margin-left: 70%;
	width: 17%;
}

@media (max-width: 640px) {
	.midia2 {
		width: 173px;
		padding: 20px;
		margin-left: -40px;
	}
}

.img-midia2 {
	width: 93%;
}

.borda-3 {
	border-style: dashed;
	border-width: 4px; 
	border-color: yellow;
}

.acontecendo {
	font-family: Haiku's-Script-v.08-upgrade];
	font-size: 3.60em;
	color: #000000;
	font-style: normal;
	text-align: center;
	line-height: 3.16em;
	padding: 74px;
}

.container-acontecendo{
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 640px) {
	.container-acontecendo {
		
	}
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 36%;
}

.livro{
	margin-top: -4%;
}

.cobertor {
	margin-top: -9%;
}

.h-acontecendo {
	text-align: left;
	width: 40%;
}

@media (max-width: 640px) {
	.h-acontecendo {
		display: flex;
		width: -30px;
	}
}

.paragraf-acontecendo {
	width: 62%;
	text-align: left;
	margin-left: 10%;
}

.section-comoajudar {
	margin: 4%;
	padding: 108px;
	padding: 51px;
    border-style: dashed;
    border-width: 4px;
    border-color: yellow;
}

.container-comoajudar {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 5%;
}

.container-coraçoes {
	margin: 5%;
}

.container-heart2 {

}

.icon2 {
	width: 15%;
}

@media (max-width: 640px) {
	.icon2 {
		width: 100%;
		margin-left: 210px;
	}
}

.icon1 {
	width: 10%;
}

.icon3 {
	width: 15%;
}

.heart1 {
	width: 30%
}

.h-voluntario {
	position: relative;
	top: -245px;
	left: 104px;
	font-size: 1.2em;
	color: #fff;
}

.paragraf-heartvoluntario {
	position: absolute;
	top: 4143px;
	left: 230px;
	width: 14%;
	font-size: 1em;
	color: #fff;
}

.container-heart2 {
	margin-top: -22%;
}

.heart2 {
	width: 30%
}

.h-doaçaomateriais {
	position: absolute;
	top: 4265px;
	left: 217px;
	font-size: 1.2em;
	color: #fff;
}

.paragraf-heartdoaçaomaterias {
	position: absolute;
	top: 4330px;
}

.heart3 {
	width: 30%
}

.heart4 {
	width: 30%
}

.paragraf-comoajudar {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

footer {
	display: flex;
}

.container-contato {
	margin-left: 10%;
	width: 27%;
}

.container-parceiros {
	display: flex;
	margin-right: 390px;
    margin-left: 154px;
}

.parceiros {
	display: flex;
}

.rodape-logo-turmadasopa { 
	width: 6%;
}

.logo-hortifruti {
	margin-top: 15%;
	width: 60%;
    height: 40%;
}

.logo-matita {
	margin-top: 15%;
	width: 60%;
    height: 40%;
}