*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
nav {
	margin: 3%;
}

@media (max-width: 640px) {
	nav {
		display: none;
	}
}

.ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	font-family: 'FreightSansProBook-Regular';
	font-size: 0.88em;
	color: #000000;
	line-height: 0.75em;
	text-transform: uppercase;
}

.borda-header {
	border-style: solid;
	border-width: 1px;
	height: 8px;
	margin: 3%;
}

@media (max-width: 640px) {
	.borda-header {
		width: 84%;
	}
}

.container-logo{
	width: 20%;
}

.logo-turmadasopa {
	width: 100%;
	margin: 11%;
	padding: 24%;
}

@media (max-width: 640px) {
	.logo-turmadasopa {
		width: 100%;
		margin-left: 119px;
	}
}

.container-header {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 640px) {
	.header-titulo {
		width: 224px;
		margin-left: 13%;
	}
}

.turma-da-sopa {
	width: 40%;
	font-family: 'Haikus-Script-v.08-upgrade';
	font-size: 4.25em;
	color: #000000;
	font-style: normal;
	text-align: center;
 }

.de-niteroi {
	display: flex;
	justify-content: center;
	font-family: 'Haikus-Script-v.08-upgrade';
	font-size: 3.69em;
	color: #000000;	
}

.img-header {
	display: flex;
	justify-content: space-between;
}

.home1 {
	width: 10%;
}

@media (max-width: 640px) {
	.home1 {
		width: 48%;
		margin-top: 5%;
	}
}

.home2 {
	width: 25%;	
	margin-top: -15%;
}

.div-home3 {
	display: none;
}

@media (max-width: 640px) {
	.div-home3 {
		width: 48%;
    	margin-top: 5%;
    	margin: 12px;
	}
}

.contato {
	padding: 3%;
	font-family: FreightSansProBook-Regular;
	font-size: 0.88em;
	color: #000000;
	font-style: normal;
	text-align: center;
	line-height: 0.75em;
}

@media (max-width: 640px) {
	.contato {
		display: none;
	}
}

.borda-header2 {
	border-style: dashed;
	border-width: 4px; 
	border-color: yellow;
}

@media (max-width: 640px) {
	.borda-header2 {
		width: 292px;
		border-width: 2px;
	}
}

.titulo-sobaturma {
	font-family: 'Haikus-Script-v.08-upgrade';
	font-size:3.69em;
	color: #000000;
	text-align: center;
	line-height: 3.16em;
	padding: 7%;
}

@media (max-width: 640px) {
	.titulo-sobaturma {
		padding: 0%;
	}
}

.conteudo-sobreaturma {
	font-family: 'FreightSansProBook-Regular';
	width: 48%;
	margin-top: -9%;
	margin-left: 25%;

}

@media (max-width: 640px) {
	.conteudo-sobreaturma {
		display: flex;
		justify-content: flex-end;
		text-align: left;
		flex-direction: column;
		margin-left: -38px;
		width: 297px;
		padding: 45px;
		font-size: 1em;
		line-height: 1.3em;
		color: #000;
	}
}

h3 {
	font-family: 'FreightSansProMedium-Regular';
	font-size: 1.44em;
	color: #000000;
	font-style: normal;
	text-align: left;
	line-height: 1.23em;
}

.section-grafico {
	padding: 10%;
}

.container-graficos {
	border-style: dashed;
	border-width: 4px; 
	border-color: yellow;
	margin: 4%;
	padding: 51px;
}

@media (max-width: 640px) {
	.container-graficos {
		display: flex;
		flex-direction: column;
		margin: 0%;
		width: 57%;
		height: 385px;
		border-width: 6px;
	}
}

@media (max-width: 640px) {
	.container-graficos {
		margin: 0%;
		border-width: 5px;
		display: flex;
		flex-direction: column;
	}
}

h4 {
	text-align: center;
}

.nossos-resultados {
	padding: 7%;
}

@media (max-width: 640px) {
	.nossos-resultados {
		margin-top: -10%;
	}
}

.apoio1 {
	width: 35%;
	margin-left: 6%;
}

@media (max-width: 640px) {
	.apoio1 {
		width: 100%;
		margin-left: -3%;
	}
}

.apoio2 {
	width: 35%;
	margin-left: 16%;
}

@media (max-width: 640px) {
	.apoio2 {
		width: 100%;
		margin-left: -19%;
		padding: 32px;
	}
}

.na-midia {
	font-family: 'Haikus-Script-v.08-upgrade';
	font-size: 3.69em;
	color: #000000;
	font-style: normal;
	text-align: center;
	line-height: 3.16em;
}

.container-video {
	margin-top: 5%;
	margin-left: 14%;
}

@media (max-width: 640px) {
	iframe {
		width: 100%;
		height: 100%;
		margin-left: -14%;
	}
}

.paragraf-video {
	font-family: 'FreightSansProBook-Regular';
	font-size: 0.88em;
	color: #036fef;
	text-decoration: underline;
	width: 55%;
}

@media (max-width: 640px) {
	.paragraf-video {
		width: 74vw;
		margin-left: -9%;
	}
}

.container-midias {
	padding: 52px;
	margin-top: -6%;
}

@media (max-width: 640px) {
	.container-midias {
		padding: 100px;
	}
}

.midia1 {
	margin-top: -31%;
	margin-left: 70%;
	width: 20%;
}

@media (max-width: 640px) {
	.midia1 {
		width: 200px;
		margin-left: -22px;
	}
}

.img-midia1 {
	width: 80%;
}

.midia2 {
	margin-top: 3%;
	margin-left: 70%;
	width: 17%;
}

@media (max-width: 640px) {
	.midia2 {
		width: 173px;
		padding: 20px;
		margin-left: -40px;
	}
}

.img-midia2 {
	width: 93%;
}

.borda-3 {
	border-style: dashed;
	border-width: 4px; 
	border-color: yellow;
}

.acontecendo {
	font-family: 'Haikus-Script-v.08-upgrade';
	font-size: 3.60em;
	color: #000000;
	font-style: normal;
	text-align: center;
	line-height: 3.16em;
	padding: 74px;
}

.container-acontecendo{
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 640px) {
	.container-acontecendo {
		display: flex;
		flex-direction: column;
	}
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 36%;
}

.livro-cursos {
	width: 15%;
}

@media (max-width: 640px) {
	.livro-cursos {
		width: 100%;
	}
}

.h-cursos {
	text-align: left;
	width: -30px;
}

@media (max-width: 640px) {
	.h-cursos {
		display: flex;
	}
}

.campanha-leite {
	width: 10%;
}

@media (max-width: 640px) {
	.campanha-leite {
		width: 70%;
		padding: 44px;
	}
}

@media (max-width: 640px) {
	.h-campanhaleite {
		width: 143px;
	}
}

@media (max-width: 640px) {
	.container-cobertor {
		]
	}
}

.campanha-cobertor {
	width: 15%;
}

@media (max-width: 640px) {
	.campanha-cobertor {
		width: 100%;
	}
}

.paragraf-acontecendo {
	width: 62%;
	text-align: left;
	margin-left: 10%;
}

@media (max-width: 640px) {
	.paragraf-acontecendo {
		width: 259px;
	}
}

.icon2 {
	width: 15%;
}

@media (max-width: 640px) {
	.icon2 {
		width: 100%;
	}
}

.icon1 {
	width: 10%;
}

.icon3 {
	width: 15%;
}

.section-comoajudar {
	margin: 4%;
	padding: 108px;
	padding: 51px;
    border-style: dashed;
    border-width: 4px;
    border-color: yellow;
}

.container-comoajudar {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 5%;
}

.container-coraçoes {
	margin: 5%;
}

.container-heart2 {

}


.heart1 {
	width: 30%
}

.h-voluntario {
	position: relative;
	top: -245px;
	left: 104px;
	font-size: 1.2em;
	color: #fff;
}

.paragraf-heartvoluntario {
	position: absolute;
	top: 4143px;
	left: 230px;
	width: 14%;
	font-size: 1em;
	color: #fff;
}

.container-heart2 {
	margin-top: -22%;
}

.heart2 {
	width: 30%
}

.h-doaçaomateriais {
	position: absolute;
	top: 4265px;
	left: 217px;
	font-size: 1.2em;
	color: #fff;
}

.paragraf-heartdoaçaomaterias {
	position: absolute;
	top: 4330px;
}

.heart3 {
	width: 30%
}

.heart4 {
	width: 30%
}

.paragraf-comoajudar {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

footer {
	display: flex;
}

.container-contato {
	margin-left: 10%;
	width: 27%;
}

.container-parceiros {
	display: flex;
	margin-right: 390px;
    margin-left: 154px;
}

.parceiros {
	display: flex;
}

.rodape-logo-turmadasopa { 
	width: 6%;
}

.logo-hortifruti {
	margin-top: 15%;
	width: 60%;
    height: 40%;
}

.logo-matita {
	margin-top: 15%;
	width: 60%;
    height: 40%;
}